h1 {
font-size: larger;
font-weight: bold;
color:burlywood;
text-align: center;
}

h2 {
font-size: medium;
font-weight: bold;
color:yellow;
text-align: center;
}

ul{
    list-style-type: none;
    text-align: center;
    font-weight: bold;
    font-size: large;
    color: rgb(116, 22, 22);

}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;}

    @keyframes example {
        from {background-color: red;}
        to {background-color: yellow;}
        
    }

    h1 {
        width: 100px;
        height: 100px;
        background-color: red;
        animation-name: example;
        animation-duration: 4s;


    }