h1 {
font-size: larger;
font-weight: bold;
color:burlywood;
text-align: center;
}

h2 {
font-size: medium;
font-weight: bold;
color:yellow;
text-align: center;
}

ul{
    list-style-type: none;
    text-align: center;
    font-weight: bold;
    font-size: large;
    color: rgb(116, 22, 22);
}

img{
    display:flex;
    justify-content: center;
    align-items: center;
    width:500px;
    height:500px;
    border: black 5px solid;
    border-radius: 50%;
}
footer{
    text-align: center;
    text-decoration: wavy;
    color: yellow;
    background-color: black;
    a;
}